# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore compressed archives
*.zip

# Ignore Word documents
*.docx
# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Django
*.sqlite3
*.log

# Environment variables
.env
